.auth__form {
  margin: 10px;
  line-height: 1.5;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25em;

  input {
    width: 90%;
    height: 90%;
    margin-left: 5px;
    border: transparent;
    padding-left: 10px;

    &:focus {
      outline: none;
    }
  }
}

.input__wrapper {
  border: 1px solid green;
  margin: 10px;
  width: 40%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

/** Alert Component */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #444;
  color: #333;
}

.alert-danger {
  background: red;
  color: #fff;
}

.alert-success {
  background: green;
  color: #ffffff;
}
