@import '../main.scss';
.trips__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid blue;
  margin: 10px;
  line-height: 1.5;
  height: 20em;
}

.trips__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 5em;
  flex-wrap: wrap;
  border: 1px solid red;
}

.search__trips {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  height: 5em;
  margin: 5em;
}

.search__bar {
  width: 30em;
  height: 3em;
  border: 1px solid blue;

  &:focus {
    outline: none;
  }
}

.switch__container {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  line-height: 1.5;
  height: 4em;
}

.btn {
  border: 1px solid red;
  border-radius: 25px;
  width: 40%;
  height: 10%;
  margin-top: 2em;

  &:focus {
    outline: none;
  }
}

/** Style for submitting trip form */
.trips__form {
  margin: 10px;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'ctn img';
  min-height: 35em;
}

.form__ctn {
  grid-area: ctn;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  input {
    width: 90%;
    height: 90%;
    border: transparent;

    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 40%;
    width: 70%;
    font-family: $text;
    border: 1px solid $primary;
    resize: none;
    font-size: 15px;
    padding: 10px;

    &:focus {
      outline: none;
    }
  }
}

.form__img {
  grid-area: img;
  margin: 10px;
  object-fit: contain;
  img {
    width: 100%;
    height: 100%;
    border-radius: 300px;
  }
}

.form__steps {
  width: 80%;
  height: 20%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__text {
  width: 80%;
  height: 5%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input__wrapper {
  border-bottom: 1px solid $primary;
  margin: 10px;
  width: 40%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.fa-arrow-circle-right {
  margin-top: 20px;
}
.fa-arrow-circle-left {
  margin-top: 20px;
}

.button__wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.confirm__wrapper {
  display: flex;
  margin: 10px;
  min-height: 25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}

.confirm__ctn__wrapper {
  margin: 20px;
  min-height: 30em;
}

.button__wrapper__confirm {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form__steps__confirm {
  width: 80%;
  height: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success__wrapper {
  color: green;
  margin: 100px;
  text-align: center;
  min-height: 10em;
}

/** Styling for make reservation */

.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  line-height: 1.5;
  min-height: 25em;
  border: 1px solid red;

  input {
    width: 90%;
    height: 90%;
    border: transparent;

    &:focus {
      outline: none;
    }
  }
}
