@import '../main.scss';

/** Find trips */
.trips__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  line-height: 1.5;
  min-height: 22em;
  min-width: 90%;
  border: 1px solid black;
}

.trips__container__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1em;
  margin: 5px;
  padding-top: 20px;
}

.trips__container__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  padding: 20px;
  background-color: black;
  color: $base;
}

.trips__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 5em;
  flex-wrap: wrap;
}

.switch__container {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  line-height: 1.5;
  height: 4em;
}

.button__trips {
  border-radius: 25px;
  width: 200px;
  height: 50px;
  font-family: $text;
  font-size: 16px;
  background-color: $sgePrimary;
  color: $base;
  border: none;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &:focus {
    outline: 0;
  }
  margin-top: 30px;
}

.info__wrapper {
  margin: 5px;
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;

  p {
    margin-left: 5px;
  }
}

.trip__details {
  margin: 10px;
}

/** Style for submitting trip form */
.trips__form {
  margin: 10px;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'ctn img';
  min-height: 35em;
}

.form__ctn {
  grid-area: ctn;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  input {
    width: 90%;
    height: 90%;
    border: transparent;

    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 40%;
    width: 70%;
    font-family: $text;
    border: 1px solid $primary;
    resize: none;
    font-size: 15px;
    padding: 10px;

    &:focus {
      outline: none;
    }
  }
}

.form__img {
  grid-area: img;
  margin: 10px;
  object-fit: contain;
  img {
    width: 100%;
    height: 100%;
    border-radius: 300px;
  }
}

.form__steps {
  width: 80%;
  height: 20%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__text {
  width: 80%;
  height: 5%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input__wrapper {
  border-bottom: 1px solid $primary;
  margin: 10px;
  width: 40%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.fa-arrow-circle-right {
  margin-top: 20px;
}
.fa-arrow-circle-left {
  margin-top: 20px;
}

.button__wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.confirm__wrapper {
  display: flex;
  margin: 10px;
  min-height: 25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}

.confirm__ctn__wrapper {
  margin: 20px;
  min-height: 30em;
}

.button__wrapper__confirm {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form__steps__confirm {
  width: 80%;
  height: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success__wrapper {
  color: green;
  margin: 100px;
  text-align: center;
  min-height: 10em;
}

/** Styling for make reservation */

.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  line-height: 1.5;
  min-height: 25em;
  border: 1px solid red;

  input {
    width: 90%;
    height: 90%;
    border: transparent;

    &:focus {
      outline: none;
    }
  }
}

/** Styling for upcoming trips */

.tripsUpcoming__container {
  display: grid;
  margin: 2em 5em 2em 5em;
  min-height: 10em;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid red;
}

.tripsUpcoming__item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid blue;
  cursor: pointer;
}

/** Search Form */

.search__trips {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 10em;
  margin: 2em 5em 2em 5em;
  background-color: $sgePrimary;
}

.search__bar {
  width: 40em;
  height: 3em;
  margin-top: 1em;
  border: none;

  &:focus {
    outline: none;
  }
}

.filter__selector {
  width: 40em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.filter__button__wrapper {
  display: flex;
  width: 40em;
  margin: 1em;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
