* {
  margin: 0px;
  padding: 0px;
}

/** Main Layout */

.main__container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas:
    'nav ctn'
    'ft ft';
}

.navbar__container {
  grid-area: nav;
  min-height: 100vh;
  /*background-color: #2c334a;*/
  background-color: black;
}

.content__container {
  grid-area: ctn;
  min-height: 100vh;
  background-image: none;
}

.footer__container {
  grid-area: ft;
}
