* {
  margin: 0px;
  padding: 0px;
}

/** Main Layout */

.main__container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 'nav ctn';
}

.navbar__container {
  grid-area: nav;
  border: 1px solid red;
}

.content__container {
  grid-area: ctn;
  border: 1px solid red;
}
