* {
  margin: 0px;
  padding: 0px;
}

/** Main Layout */

.main__container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas:
    'nav ctn'
    'ft ft';
  border: 1px solid green;
  margin: 10px;
}

.navbar__container {
  grid-area: nav;
  border: 1px solid red;
}

.content__container {
  grid-area: ctn;
  border: 1px solid red;
}

.footer__container {
  grid-area: ft;
  border: 1px solid red;
}
