# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/coverage

# production
client/build
#server/settings.py
*.pyc
server/notebooks/.ipynb_checkpoints/connectorMongoDB-checkpoint.ipynb
