@import '../../App.css';

.nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  li {
    list-style: none;
    padding: 20px;
  }
}
