.navigation__container {
  border: 1px solid red;
  height: 3em;
  margin: 5em;
  li {
    list-style: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
