@import '../Pages/home.scss';
@import '../main.scss';

.findSection {
  grid-area: section1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $base;
  :link {
    text-decoration: none;
    color: #000000;
  }
  opacity: 0.9;
}

.offerSection {
  grid-area: section2;
  background-color: $sgePrimary;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  :link {
    text-decoration: none;
  }
  opacity: 0.9;
}

.link__section {
  color: #000000;
}

.weatherSection {
  grid-area: section3;
  margin: 10px;
  background-color: $base;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nextEventSection {
  grid-area: section4;
  margin: 10px;
  background-color: $base;
  opacity: 0.9;
}

/** Icons */
.fa-car {
  margin-top: 20px;
  color: white;
}

.fa-cloud-sun {
  margin-top: 20px;
}

.fa-search {
  margin-top: 20px;
}
