@import '../Pages/home.scss';

.findSection {
  grid-area: section1;
  border: 1px solid red;
  margin: 20px;
}

.offerSection {
  grid-area: section2;
  border: 1px solid red;
  margin: 20px;
}

.weatherSection {
  grid-area: section3;
  border: 1px solid red;
  margin: 20px;
}

.nextEventSection {
  grid-area: section4;
  border: 1px solid red;
  margin: 20px;
}
