.userdata__container {
  margin: 10px;
  line-height: 1.5;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20em;
}

.usertrips__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid blue;
  margin: 10px;
  line-height: 1.5;
  height: 20em;
}

.change__form {
  margin: 10px;
  line-height: 1.5;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25em;

  input {
    padding: 1em;
    width: 40%;
    border: 1px solid red;
    margin: 10px;

    &:focus {
      outline: none;
    }
  }
}
