.weather__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'img inf';
  border: 1px solid red;
  margin: 5em;
  height: 20em;
}

.weather__img {
  grid-area: img;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather__inf {
  grid-area: inf;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
