@import '../main.scss';
@import '../Pages/home.scss';

/** Event Container Styling */

.event__ctn {
  grid-area: primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  margin: 5px;
}

.event__ctn__sec {
  grid-area: secondary;
  border: 1px solid blue;
  margin: 5px;
}

.event_inf_ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
  line-height: 2em;
}

/** Styling for counter */

.counter__wrapper {
  grid-area: countdown;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  border: 1px solid red;
}

.counter__text {
  border-bottom: 1px solid $action;
  font-size: 18px;
}

.count {
  font-size: 40px;
  color: $action;
}
