@import '../main.scss';
@import '../Pages/home.scss';

/** Event Container Styling */

.event__ctn {
  grid-area: primary;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $sgePrimary;
  margin: 10px;
  opacity: 0.9;
}

.event__ctn__inf {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: $base;
  font-size: 20px;
}

.event__ctn__sec {
  grid-area: secondary;
  margin: 10px;
  background-color: $base;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.event_inf_ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
}

.info__wrapper {
  margin: 5px;
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;

  p {
    margin-left: 5px;
  }
}

.event__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-size {
  height: 150px;
  width: 150px;
}

.event__text {
  opacity: 1;
}

/** Styling for counter */

.counter__wrapper {
  grid-area: countdown;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: $base;
  opacity: 0.9;
}

.counter__text {
  /*border-bottom: 1px solid $action;*/
  border-bottom: 1px solid #000000;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.count {
  font-size: 40px;
  color: #000000;
  /*color: $action;*/
}

/** Upcoming Boxes */

.upcoming__game__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 20%;
  margin: 15px;

  img {
    width: 70px;
    height: 70px;
  }

  p {
    font-size: 15px;
  }
}

.eventLogo__wrapper {
  max-width: 150px;
  max-height: 150px;
}
