@import '../main.scss';

.footer__wrapper {
  background-color: #000000;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: $base;
  font-size: 20px;
}

.footer__wrapper__eventway {
  background-color: $primary;
  font-family: $text;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: $base;
  font-size: 20px;
}

.footer__content {
  width: 400px;
  margin-left: 200px;
  height: 80%;
  border-right: 1px solid $base;
}
