/** Color and Fonts */

/** Event Way */
$primary: #2c334a;
$secondary: #cb2e2e;

$action: #ae2427;
$base: #ffffff;

$heading: 'Dosis' sans-serif;
$text: 'Muli', sans-serif;

/** Eintracht Frankfurt */
$sgePrimary: #e1000f;

body {
  font-family: $text;
}

h1 h2 h3 h4 h5 h6 {
  font-family: $heading;
}

input[type='text'] {
  font-family: $text;
  font-size: 15px;
  &:focus {
    outline: none;
  }
}

input[type='email'] {
  font-family: $text;
  font-size: 15px;
}

input[type='password'] {
  font-family: $text;
  font-size: 15px;
}

input[type='number'] {
  font-family: $text;
  font-size: 15px;
}

select {
  font-family: $text;
  font-size: 15px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.button {
  border-radius: 25px;
  width: 300px;
  height: 50px;
  font-family: $text;
  font-size: 16px;
  background-color: $action;
  color: $base;
  border: none;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &:focus {
    outline: 0;
  }
}
